<div class="row">
   <div class="col-md-10 col-md-offset-1">
     
      <div ng-if="guruObj.workbenches.length !== 0">
         <div class="container" style="margin-top: 20px; border:'1px solid black'">
            <div class="row workbench">
               <div class="col-md-4 btn-group btn-group-m pull-right">
                  <button  type="button" class="btn btn-default" ng-click="workbenchDia()"> ADD</button>  
                  <button  type="button" class="btn btn-default" >DELETE</button>  
                  <button  type="button" class="btn btn-default" >DETAILS</button>             
               </div>
            </div>
         </div>
       
         <div class="table-responsive panel" >
         <div class="panel-heading">
         <h3 class="panel-title" >
				workbenches
		 </h3>
         </div> 
            <table class="table table-bordered">
               <thead>
                  <tr >
                     <th></th>
                     <th>Textbook Name</th>
                     <th>Description</th>
                     <th>No. of books</th>
                     <th>ID</th>
                     <th>Status</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="person in guruObj.workbenches">
                  
                     <td><input type="radio" name="selection" /> </td>
                     <td ng-click="go('notebook')"><a>{{person.Name}}<a></td>
                     <td>{{person.description}}</td>
                     <td>{{person.Clustersize}}</td>
                     <td>{{person.id}}</td>
                     <td>{{person.status}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      
      </div>
   </div>
   
</div>
